/* la home page */

/* the parallex animation thingyyyyyyyy */
.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.parallax {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
.background{
    transform: translateZ(-10px) scale(2);
    background-color: hsl(var(--cl-bla), .1);
    background-blend-mode: overlay;
}

.foreground{
    transform: translateZ(-5px) scale(1.5);

    display: block;
    width: 100px;
    height: 100px;
}


.background {
    position: absolute;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* the modules cuz im dealing with animation later */
.module-con {
    grid-template-columns: 5fr 6fr 5fr;
    grid-template-rows: 1fr;
    gap: min(3rem, 5vh);

    background-color: hsl(var(--cl-bla));

    justify-content: center;
    align-items: center;
    padding: 0 10%;

}

.module {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(var(--cl-yellow));

    border-radius: 2.5rem;

    height: 100%;

    grid-row: 2 / 3;
    transition: transform 250ms;
    padding: 2% 0;
}

.module-outer {
    height: 90%;
}

.module h3 {
    font-size: var(--d-fs-subheading);

    margin: .5rem 0;
}

.module:hover {
    transform: translateY(-20px);
}

.module img {
    width: 45%;
    aspect-ratio: 1;
    border-radius: 12rem;
    box-shadow: 5px 7px 5px hsl(var(--cl-bla), .1)
}

.module a  {
    padding: 1.1rem;
    text-align: center;
    line-height: 120%;
}

.module p {
    padding: .5rem;
    text-align: center;
    line-height: 120%;
}

/* carousel */
.carousel-container {
    overflow: hidden;
}

.carousel {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;

}
.slide {
    width: 100%;
    height: 99%;
    flex: 1 0 100%;
    text-align: left;

    border-bottom: white 1px solid;
    display: grid;
    grid-template-rows: auto 5rem;
    border-radius: 1rem;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.slide h5 {
    padding: 0;
    margin-left: 1rem;
    align-self: center;
}

.slide a {
    font-size: var(--d-fs-heading);  
    font-family: var(--f-sec);
    color: hsl(var(--cl-whi));
    font-weight: 400;
}
/* carousel arrows */
.left-arrow, 
.right-arrow {
    cursor: pointer;
    font-size: var(--d-fs-subheading);

    font-family: var(--f-logo);
    font-weight: var(--fw-heavy);
}

/*  */
.more {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr min-content; 
    gap: 2rem; 
    padding: 3rem;
    margin: 0 10%;
    background-color: hsl(var(--cl-bla));
}

.news-cards, .carousel-container {
    grid-row: 2 / 3;
}

.news-cards {
    flex-direction: column;
    grid-column: 1 / 2;

    justify-content: center;
    align-items: center;

    justify-content: baseline;
}

.carousel-container {
    grid-column: 2 / 3;
}

/* the news cards themselves */
.card {
    display: grid;
    grid-template-columns: 2fr 6fr; 
    grid-template-rows: min-content;

    gap: 1rem; 
    padding: .75rem;

    text-transform: capitalize;
    transition: ease 250ms;

}

.card div {
    margin: 1rem 0;
}

.card img {
    aspect-ratio: 1 / 1;
    width: 100%;
}

.card a {
    font-size: var(--d-fs-text);
    font-family: var(--f-newp);
    font-weight: var(--fw-primary);

    padding: 0;
    margin: 0;
}

.card h3 {
    margin: 0;
    padding: 0;
    font-size: var(--d-fs-subheading); 
    line-height: 1rem;

    font-weight: 600;
}

.card h6 {
    font-family: var(--f-newp);
    font-weight: 200;
    font-size: .8rem;
    margin: 0;
    padding: 0;
    margin: 0 .25rem;
}


/* JOURNEY.html */
.page-header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90vh;
    background-color: hsl(var(--cl-bla));
    

    align-items: center;
    justify-content: center;
}

/* ayee the mission cars */
.journey-missions {
    grid-template-columns: (2, 1fr);
    grid-template-rows: (2, 1fr);

    gap: 3rem;

    margin: 0 15% 7%;
}

.moon-card, .mars-card, .iss-card {
    border-radius: 1rem;
}

.moon-card {
    grid-row: 1 / 3; 
    grid-column: 1 / 2;
    width: 100%;

    display: grid;
    grid-template-rows: 45% auto;

    background-color: hsl(var(--cl-whi));
}

.moon-card img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: .9rem;
    
    --mask:
    radial-gradient(67.08px at 50% calc(100% - 90.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(67.08px at 50% calc(100% + 60.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);     
}

.card-info {
    display: flex;
    flex-direction: column;
    margin: 1rem ;
    height: 100%;
}

.card-info h1 {
    margin: .75rem 0;
    font-size: var(--d-fs-heading);
}

.card-info p {
    font-size: var(--d-fs-text);
    margin: 0 .75rem;
    padding: 0;
}

.card-info div{
    margin-top: 2rem;
    margin-left: .75rem;
}

.btn-right{
    font-family: var(--f-sec);
    font-weight: var(--fw-heavy);
    letter-spacing: 110%;
    transition: .25s ease;

}

.m-i-btn {
    margin-top: 2rem;
    margin-left: .75rem;
}

.btn-right:hover {
    transform: translateX(10px);
}

.moon-card h1, 
.moon-card p, 
.moon-card a {
    color: hsl(var(--cl-bla));
}

.iss-card, .mars-card {
    grid-column: 2 / 3;

    background-position:  center;
    background-size: cover;
    background-blend-mode: overlay;

    background-color: hsl(var(--cl-bla), .8);
}

.iss-card {
    background-image: url(../images/Iss-2.jpeg);
}

.mars-card {
    background-image: url(../images/mars-1.jpeg);
}


/* the other part of journey */
.journey-suits {
    grid-template-columns: repeat(2, 1fr);

    justify-content: center;
    text-align: right;

    background-color: hsl(var(--cl-yellow));
}

.journey-suits img {
    width: 100%;
    height: 100%;
}

.journey-suits h1 {
    font-size: min(7rem, 15vh); 
    padding: 5% 5% 0;
    margin-bottom: 3rem;
}

.journey-suits p {
    text-align: right;
    margin: 5% 5% 0 15%;
}

/* training */

.journey-training {
    margin: 5% 0 10%;
}

.training-heading {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin: 5% 15% 1.5rem; 
    text-align: center;

}

.icon-row {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0 15%;
}

.training-heading h1 {
    margin: 0;
    padding: 0;
}

.training-icon {
    display: flex;
    flex-direction: column;

    align-items: baseline;

    justify-self: center;
    width: 80%;
    height: 100%;
}

.training-icon div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--cl-whi));
    padding: 1rem;

    aspect-ratio: 1 / 1;
    border-radius: 100rem;

}

.training-icon p{
    text-align: center;
    margin: 0;
    font-size: 1.15rem;
    font-weight: 200;
    font-family: var(--f-sec);
}

.training-icon img {
    width: 40%;
    aspect-ratio: 1 / 1;
}

.blast-off {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem 10%;
    border-radius: 1rem;

    background-color: hsl(var(--cl-bla));
    box-shadow: 0 10px 10px 10px hsl(var(--cl-yellow),.75);
}

.blast-off img{
    aspect-ratio: 1/1;
    height: 90%;
    object-position: top;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.blast-off .card-info {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.blast-off h1{
    font-size: 6rem;
}

/* the moon */
.moon-stats {
    grid-template-columns: 2fr repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    margin: 5% 6%;
    padding: 3rem;

    gap: 1rem;

    border: 1px hsl(var(--cl-whi)) solid;
    border-radius: 1rem;
}

.facts {
    align-self: end;
    margin: 1.5rem 0;
}

.facts h6{
    font-size: var(--d-fs-subheading);
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.facts h4 {
    padding: 0;
    margin: 0 1rem;

    font-size: var(--d-fs-text);

    color: hsl(var(--cl-yellow));
    font-weight: 100;
}

.facts-header {
    grid-row: 1 / 4;
    padding: 1rem 2rem 0 0;
}

.facts-header h3{
    font-size: var(--d-fs-heading);
    font-weight: var(--fw-primary);
    padding: 0;
    margin: 0;
}

.facts-header h4{
    font-size: var(--d-fs-subheading);
    font-weight: var(--fw-primary);
    padding: 0;
    margin: 0;
}


.lunar-heading {
    display: grid;

    justify-content: center;
    text-align: center;
    grid-template-rows: 1fr min-content;
}

.journey-header {
    display: grid;

    justify-content: center;
    text-align: center;
    grid-template-rows: 2fr min-content;
}

.lunar-heading a{
    padding: 0;
    margin: 0;

    grid-row: 3 / 4;
    align-self: end;

    margin-bottom: 15%;

}

.lunar-heading h1 {
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
}

.lunar-bg {
    background-image: url(/images/blood-moon.jpg);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: right;

    background-color: hsl(var(--cl-bla), .9);
}

.moon-activities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 2rem;

    margin: 5% 10%;
}

.moon-activities div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

    text-align: center;

    justify-content: center;
    align-items: center;

    text-align: right;
}

.moon-activities div img {
    grid-column: 1 / 6;
    grid-row: 1 / 5;

    aspect-ratio: 7 / 9;

    border-radius: 1rem;

    width: 100%;
    height: auto; 
}

.moon-activities div h3{
    grid-row: 4 / 6;
    grid-column: 2 / 6;

    font-size: var(--d-fs-text);
    background-color: hsl(var(--cl-yellow));
    padding: 1rem;

    border-radius: .5rem;
    color: hsl(var(--cl-bla));

    text-transform: uppercase;
    
    margin-right: 1rem;

}

.moon-history {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border-radius: 1rem;
    margin: 5% 10%;
}

.appllo {
    grid-column: 1 / 4;
    grid-row: 1 / -1;
}

.appllo-info {
    grid-column: 3 / 6;
    grid-row: 2 / 6;

    background: linear-gradient(to right,  transparent, hsl(var(--cl-yellow)));
}

.appllo-info h2, .appllo-info p, .appllo-info h3 {
    padding: 0;
    margin: 0;
}

.appllo-info h2{
    font-size: 10rem;
}

.appllo-info div {
    margin: 1.5rem;
    background-color: hsl(var(--cl-whi));
}

.appllo-info p {
    color: hsl(var(--cl-bla));
    padding: 1rem;
    border-top-left-radius: 1rem;

    font-size: var(--m-fs-text);
}

.moon-history img {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}


/* bluford */

.guion {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content;
    margin: 2% 10%;

    gap: 2rem;
}

.guion h1{
    font-size: 5rem;
}

.guion p{
    font-weight: 200;
    font-family: var(--f-sec);
    line-height: 110%;
}


.spaceship {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.spaceship img {
    aspect-ratio: 1 / 1;
    width: 80%;
    object-fit: contain;
}

.no-p-m {
    padding: 0;
    margin: 0;
}

.enginee {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 15% 10% 5%;
}

.enginee img {
    aspect-ratio: 1 /1;
}

.enginee-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.enginee-1 {
    grid-row: 1 / 4;
    grid-column: 1 / 4;
}

.enginee-2 {
    grid-row: 3 / 6;
    grid-column: 3 / 6;
}

.launch {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 5% 5%;
    gap: 2rem;
}

.launch video {
    width: 100%;
}

.pre-spaceship {
    margin: 5% 5% 0;
    text-align: center;
}

/* la contacts */
.contact {
    display: grid;
    grid-template-columns: 5fr 3fr;

    gap: 5%;
    margin: 5% 10%;
}

.contact form {
    width: 100%;
}

.contact form div, .scholarship-form div{
    margin: .5rem;
}

.contact label, .scholarship-form {
    color: hsl(var(--cl-whi));
    font-family: var(--f-sec);

    font-weight: 800;
}

.contact input, .contact textarea, .scholarship-form input{
    width: 100%;
    background-color: transparent;
    border: .5px hsl(var(--cl-whi)) solid;
    color: hsl(var(--cl-whi)); 
    font-family: var(--f-sec);
    font-weight: 200;
}

/* la socials */
.socials {
    display: flex;
    flex-direction: column; 
    justify-content: center;

    gap: 1rem;
}

.socials h3 {
    font-weight: var(--fw-primary);
    margin: .25rem 0;
    padding: 0;
}

.hours {
    margin:.5rem 1rem;
}

.hours h6,.hours a{
    font-size: var(--d-fs-text); 
    font-family: var(--f-sec);
    font-weight: var(--fw-light);

    padding: 0;
    margin: .25rem
}

.contact input, .reserve input, .scholarship-form input {
    height: 2rem;
    font-size: var(--m-fs-text);
}


/* the iss */
.iss {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: repeat(2, 1fr);

    margin: 5% 10%;
}

.iss-purpose {
    margin: 0 max(4rem, 5vh);

    background-color: hsl(var(--cl-whi));
    box-shadow: -20px -20px hsl(var(--cl-yellow));
}

.iss-purpose p{
    margin-left: 1rem;
}
.iss-purpose h1 {
    margin-left: .75rem;
    font-size: var(--d-fs-heading);
}

.iss-acit {
    display: grid;

    grid-template-rows: min-content repeat(3, 2fr);
    gap: 2rem;

    width: 95%;
}

.iss-acit p,.iss-acit h1 {
    margin: 0;
    padding: 0;
}

.iss-a {
    border: 1px hsl(var(--cl-whi)) solid;
    width: 100%;

    padding: .5rem;
}
.iss-a h3{
    padding: 0;
    margin: .25rem 0;
}

.iss-scholarship {
    margin: 3% 6%;

}

.iss-scholarship p, .iss-scholarship a {
    margin: 1rem 0;
    padding: 1rem;

}

/* mars */
.latest {
    background-color: hsl(var(--cl-whi));
    margin: 5% 6%;
    padding: 1rem;
    border-radius: .5rem;
}

/* reserve */
.reserve {
    display: grid;

    gap: 5%;
    margin: 5% 20%;
}

.reserve form, .reserve input{
    width: 100%;
}

.reserve input, .reserve select {
    font-size: var(--m-fs-heading);
}

.reserve div {
    margin: .5rem 0 1rem;
}

.reserve label {
    color: hsl(var(--cl-whi));
    font-family: var(--f-sec);

    font-weight: 800;
    font-size: 1.5rem;

}

.reserve input, .reserve select{
    width: 100%;
    background-color: transparent;
    border: .5px hsl(var(--cl-whi)) solid;
    color: hsl(var(--cl-whi)); 
    font-family: var(--f-sec);
    font-weight: 200;
}

/* the news */
.scholarship {
    display: grid;
    grid-template-columns: 3fr 1fr;

    margin: 5% 10%;

    gap: 2rem;
}
.nw-b-h {
    margin: 5% 25%;
}

.nw-b-h h1 {
    font-size: 5rem;
    font-family: var(--f-newp);

    padding: 0;
    margin: .5rem 0;
}

.nw-b-h h6 {
    font-size: 1rem;
    font-family: var(--f-newp);

    font-weight: 100;
    margin: .5rem;
}

.news-paragraph {
    margin: 5% 20%;
}

.tsa div{
    margin: 1rem 2.5rem;
}

.tsa-header {
    margin-top: 23vh;
}

.tsa h2 {
    margin: 0;
    padding: 0;

    color: hsl(var(--cl-yellow),.75);
}


.tsa p {
    margin: 0;
    padding: 0;
}

@media (min-width: 900px) {
    .slide img {
        aspect-ratio: 1 / 1;
    }
}

@media (max-width: 650px) {
}

@media (max-width: 1100px) {
    .journey-suits div{
        padding-bottom: 4%;
    }

    .journey-suits h1{
        font-size: 4rem;
    }

    .contact {
        margin-top: 10%;
    }

    .icon-row {
        margin: 0 2%;
    }

    .moon-stats {
        margin: 0 5%;
        padding: 3%;
    }

    .facts h4 {
        font-size: var(--m-fs-subheading);
    }

    .moon-stats {
        grid-template-columns: repeat(2, 1fr);
    }
    .facts-header {
        grid-column: 1 / 3;
    }
}

@media (max-width: 845px) {
    .page-header {
        height: 99vh;
    }
    .guion {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);

        aspect-ratio: 1 / 1;
    }

    .spaceship {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .enginee,.launch {
        grid-template-columns: 1fr;

        margin-right: 5%;
        margin-left: 5%;
    }

    .enginee {
        margin-top: 20%;
    }

    .launch {
        grid-template-rows: auto;
    }

    .video{
        grid-row: 2 / 3;
    }

    .launch-heading {
        grid-row: 1 / 2;
    }

    .icon-row {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);

        margin: 2rem 2.5%;
    }

    .training-icon {
        margin: 2rem 0;

        justify-content: center;
        align-items: center;
    }

    .training-icon div {
        width: 50%;
    }

    .training-icon img {
        width: 75%;
    }

    .blast-off {
        margin: auto 5%;
    }

    .reserve {
        margin: 22% 15%;
    }
}

@media (max-width:750px) {
    .lunar-bg {
        background-position: center;
    }

    .moon-activities {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .moon-history {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);

        margin: 5%;
        padding: 0;
    }

    .appllo{
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / -1;
    }

    .appllo-info {
        grid-row: 2 / 3;
        grid-column: 1 / -1;

        background: hsl(var(--cl-whi));

        padding: 1% 5%;
    }

    .appllo-info h2{
        font-size: 2rem; 
    }

    .appllo-info h3 {
        font-size: var(--m-fs-subheading);
    }

    .appllo-info h2, .appllo-info p, .appllo-info h3 {
        color: hsl(var(--cl-bla));
    }
    
    .appllo-info div {
        margin: 0;
        background-color: hsl(var(--cl-whi));
    }
    
    .appllo-info p {
        color: hsl(var(--cl-bla));
        padding: 1rem;
        border-top-left-radius: 1rem;
    
        font-size: var(--m-fs-text);
    }

    .headings {
        font-size: var(--m-fs-heading);
        margin: 0; 
        padding: 0;
    }

    .module-con {
        gap: 2rem;
    }

}

@media (max-width: 500px) {
    .more {
        margin: 0 2%;
    }

    .card {
        padding: 0;
        margin: 0;
        gap: 1rem;
    }

    .card h3 {
        font-size: 1.25rem;
        line-height: 110%;
    }

    .module {
        margin: 0 2%;
    }
}

@media (max-width: 900px) {
    .parallax {
        text-align: center;
    }

    .module-con {
        grid-template-columns: auto;
        grid-template-rows: auto repeat(3, 1fr);
    }
    
    .module {
        grid-row: auto;
    }

    .more {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto; 

        padding: max(1rem, 3vh);
    }

    .news-cards, .carousel-container {
        grid-row: auto;
        grid-column: 1 / 2;
    }

    .journey-header {
        height: 99vh;
        text-align: center;
    }

    .headings {
        text-align: center;
    }

    .journey-missions {
        grid-template-rows: auto repeat(2, auto);
        grid-template-columns: 1fr;

        margin: 5%;
    }

    .moon-card, .iss-card,.mars-card {
        grid-column: 1 / 2;
    }

    .moon-card {
        grid-row: 1 / 2;

        grid-template-rows: 50% auto;
    }

    .moon-card img{
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        border-radius: .9rem;
    }
    

    .iss-card {
        grid-row: 2 / 3;
    }

    .mars-card {
        grid-row: 3 / 4;
    }

    .blast-off {
        grid: none;
    }
    .blast-off img {
        border-bottom-left-radius: 1rem;
    }

    .journey-suits {
        grid: none;
        background-image: url(../images/suit.png);
        background-blend-mode: overlay;
        background-size: cover;
        background-color: hsl(var(--cl-bla), .9);

        text-align: left;

        margin: 5% 1rem;
        text-shadow: 1px 3px 3px hsl(var(--cl-whi),.5);

        border-radius: 1rem;
    }

    .journey-suits h1 {
        font-size: 5rem;
    }

    .journey-suits img{
        display: none;
    }

    .training-heading {
        margin: 5rem 0 0;
    }

    .contact {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
    }

    .moon-activities {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);

        gap: .5rem;
    }

    .moon-activities h3 {
        font-size: var(--m-fs-heading);
    }

    .facts-header h3, .facts-header h4{
        font-size: var(--m-fs-heading);
    }

    .facts h6{
        font-size: var(--m-fs-subheading);
    }

    .facts h4 {
        font-size: var(--m-fs-text);
    }

    .iss {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 1fr;

        gap: 3rem;
    }
    .iss-purpose {
        margin: 0;

        box-shadow: none;
    }
    .iss-purpose p{
    margin-left: .5rem;
    }
    .iss-purpose h1 {
        margin-left: .25rem;
    }

    .guion {
        margin: 10% 5%;
        gap: 2rem;
    }
    
    .guion h1{
        font-size: 2.5rem;
        margin: 1rem 0;
    }
    
    .guion p{
        font-weight: 200;
        font-family: var(--f-sec);
        line-height: 110%;
    }

    .scholarship {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(2, 1fr);
    
        margin: 3%; 
        gap: 2rem;
    }
    .nw-b-h {
        margin: 5% 12%;
        height: 40vh;
        display: flex;
        align-items: start;
        justify-content: end;

        flex-direction: column;
    }
    
    .nw-b-h h1 {
        font-size: 2rem;
    }
    
    .nw-b-h h6 {
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }
    
    .news-paragraph {
        margin: 3% 8%;
    }
    
}